:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: rgba(0, 148, 218, 1);
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;

  margin: 0;
  padding: 0;

  color: var(--darkgray);
  background-color: var(--white);
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  color: var(--white);
}

/* Global */
img[src=''] {
  font-family: sans-serif;

  position: relative;

  display: block;

  height: 100%;
}

img[src='']::before {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;
  min-height: 100%;

  content: '';

  background: var(--blue);
}

img[src='']::after {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 100%;

  content: 'Битая картинка ' attr(alt);
  transform: translateY(-50%);
  text-align: center;

  color: var(--white);
}

iframe {
  width: 100%;
  height: 400px;

  border: 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a[href]:hover {
  text-decoration: none;
}

a[href],
a[href]:visited {
  color: var(--darkgray);
}

code {
  margin: 0 2px;
  padding: 3px 4px;

  background: rgba(0, 0, 0, .05);
}

/* Header */
.header {
  display: flex;

  border-bottom: 1px dashed var(--lightgray);

  align-items: center;
}

.header::after {
  display: table;
  clear: both;

  content: '';
}

.header__logo {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 3rem;
}

.header__navigation {
  display: flex;

  margin: 0 0 0 1em;
  padding: 0;

  list-style: none;
}

.header__navigation-item {
  margin-right: 1em;
}

.header__navigation-item a[href]:not(:hover) {
  text-decoration: none;
}

.header__navigation-item--active {
  text-decoration: underline;
}

/* Main */
.main {
  padding: 1rem;

  flex-grow: 1;
}

/* Posts list */
.postlist {
  padding: 0;

  list-style: none;
}

.postlist-item {
  counter-increment: start-from -1;
}

.postlist-item:before {
  line-height: 100%;

  display: inline-block;

  content: '' counter(start-from, decimal-leading-zero) '. ';
  text-align: right;
  pointer-events: none;
}

.postlist-date,
.postlist-item:before {
  font-size: .8125em; /* 13px /16 */

  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -.5px;
}

.posts .postlist {
  display: flex;
  flex-wrap: wrap;
}

.posts .postlist-item {
  margin: 0 5px 0;

  flex: 1 1 200px;
}

.posts .postlist-item::before {
  display: none;
}

/* Supports Grid */
@supports (display: grid) {
  .posts .postlist {
    display: grid;
    margin: 0;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1rem;
  }

  .posts .postlist-item {
    margin: 0;
  }
}

.post-preview {
  display: flex;
  flex-direction: column;

  height: 100%;

  align-items: flex-start;
}

.post-preview__image {
  display: none;

  width: 100%;

  background: var(--blue);

  flex-grow: 1;
}

.posts .post-preview__image {
  display: block;
  width: 100%;
}

.post-preview__heading {
  margin: 1rem 0 0;
}

.post-preview__footer {
  padding: 0.5rem 0;
}

/* Tags */
.tag {
  font-size: .625em; /* 10px /16 */

  display: inline-block;

  margin-left: .8em; /* 8px /10 */
  padding: 2px 4px;

  vertical-align: text-top;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--white);
  border-radius: .25em; /* 3px /12 */
  background-color: var(--red);
}

a[href].tag,
a[href].tag:visited {
  color: var(--white);
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  font-style: normal;

  margin-left: .1em;

  text-decoration: none;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--darkgray);
}

/* Footer*/
.footer {
  padding: 1rem;

  border-top: 1px dashed var(--lightgray);
}
