@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Didact+Gothic&subset=cyrillic');
/**
 * Variables
 */

.slide h2,
.slide h3 {
  font-family: "Didact Gothic", cursive;
}

/**
 * Styles
 */

* {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  padding: .2em .5em;
}

a:hover {
  text-shadow: 0 0 .5em white, 0 0 1em white;
}

select {
  color: black;
}

code,
pre,
style,
textarea,
input {
  font-family: Consolas, "Andale Mono", "Courier New", monospace;
  background: rgba(0, 0, 0, .4);
}

code {
  padding: .2em .2em .1em;
  white-space: nowrap;
  background: transparent;
}

pre,
input {
  background: transparent;
}

style,
textarea {
  padding: .3em .5em;
  margin-left: -.1em;
  border: 2px solid #333333;
}

pre>code {
  padding: 0;
  white-space: pre;
  border: 0;
  background: 0;
  box-shadow: none;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

strong,
b {
  font-weight: bold;
}

pre strong {
  text-shadow: 0 0 .6em white;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#indicator {
  color: black;
  border-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-weight: 400;
}

.snippet {
  background-color: #ffffff;
}

.slide {
  padding: 0 2.5% 2%;
  color: #333333;
  border: 30px solid transparent;
}

.slide--flex {
  display: flex;
  flex-direction: column;
}

.slide-item {
  margin: auto;
}

.slide h3 {
  font-family: "Didact Gothic", cursive;
  font-weight: 100;
  font-size: 1in;
  line-height: 1.2;
}

.slide h3 a {
  font-size: 30px;
}

.slide p,
.slide li {
  font-weight: bold;
  letter-spacing: -.03em;
}

.slide>ul {
  list-style: none;
}

.slide ol {
  margin-left: 2em;
}

.slide>ul ul {
  margin-left: 2em;
  list-style: none;
}

.slide li li {
  font-size: 80%;
}

.slide li {
  margin: .2em 0;
}

.slide>ul>li:before {
  content: "—";
  padding-right: .2em;
}

.slide li li:before {
  content: "—";
  padding-right: .2em;
}

section>header.slide>h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  font-size: 400%;
  line-height: 1.2;
  text-align: center;
  /* color: white; */
}

.demo-area {
  flex-grow: 1;
  margin-bottom: 50px;
}

.image.slide {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  image-rendering: crisp-edges;
}

.partial.image.slide {
  background-size: contain;
}

/* Syntax highlighting */

.comment {
  color: #999;
}

.string {
  color: yellow;
}

.keyword {
  font-weight: bold;
  color: deeppink;
}

.number,
.boolean {
  color: #0cf;
}

.regex {
  color: orange;
}
