/* extends base layout */
.shower {
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
}
.slide ul>li.middle:before {
    content: '⛑';
    transform: translateY(3px);
}
.slide ul>li.junior:before {
    content: '👶';
    transform: translateY(1px);
}
.slide ul>li.call:before {
    content: '🛎';
}
.slide:after {
    opacity: .2;
}
.slide h2 {
    font-family: 'Yeseva One', 'PT Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.cols {
    display: flex;
    margin-left: -75px;
    margin-right: -75px;
}
.cols > * {
    flex: 1;
    padding-left: 75px;
    padding-right: 75px;
}
.qr__link {
    display: block;
    font-size: 40%;
    line-height: 1em;
    background: none !important;
}
.qr__image {
    max-height: 40vh;
    width: 40vh;
}
#cover {
    background: #7c6eab;
}
#cover:after {
    visibility: hidden;
}
#cover .developer {
    width: 600px;
    display: block;
    margin: 0 auto;
}
#cover h2 {
    margin: -53px 0 50px;
    color: #fff;
    text-align: center;
    font-size: 70px;
}
#cover p {
    margin: 10px 0 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
#cover p a {
    color: #fff;
}