---
layout: layouts/base.njk
templateClass: page
---

{%- if pageTitle -%}
  <h1 class="title">{{ pageTitle }}</h1>
{%- endif -%}

{%- if image -%}
  <img src="{{ image | url }}" alt="{{ title }}">
{%- endif -%}

{{ content | safe }}

{%- if page.url != "/" -%}
  <section class="breadcrumbs">
    <p><a href="{{ '/' | url }}">← Главная</a></p>
  </section>
{%- endif -%}
