---
permalink: /tags/
layout: layouts/page.njk
templateClass: archive
pageTitle: Все теги
---

<section class="tags">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  {% endfor %}
</section>
