.box {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.box__child {
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
}

.box__child::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.button {
  border: 2px solid #333333;
}

.button--contrast {
  color: white;
}

#controls {
  background-image: url("img/controls.jpg");
}

#musculus {
  background-image: url("img/musculus.jpg");
}

#puppets {
  background-image: url("img/puppets.jpg");
}

.clock {
  --clock-diameter: 250px;
  --clock-border-width: 5px;
  position: relative;
  width: var(--clock-diameter);
  height: var(--clock-diameter);
  border: var(--clock-border-width) solid #000000;
  border-radius: 50%;
  font-size: 0;
  display: block;
  margin: auto;
}

.clock__hand {
  --hand-width: 1px;
  --hand-height: 50%;

  position: absolute;
  top: calc(50% - var(--hand-height));
  left: calc(50% - calc(var(--hand-width) / 2));

  width: var(--hand-width);
  height: var(--hand-height);

  background-color: var(--hand-color, #000000);
  border-radius: 2px;
  transform: rotate(var(--turn, 0turn));
  transform-origin: 50% 100%;
}

.clock__hand--hour {
  --hand-width: 6px;
  --hand-height: 30%;

  --hours-in-day-half: 12;
  --hours-turn: calc(1turn * var(--hours) / var(--hours-in-day-half));

  --min-in-hour: 60;
  --minutes-turn: calc((1 / var(--hours-in-day-half)) * 1turn * var(--minutes) / var(--min-in-hour));

  --turn: calc(var(--hours-turn) + var(--minutes-turn));
}

.clock__hand--minute {
  --hand-width: 4px;
  --hand-height: 40%;

  --minutes-in-hour: 60;
  --turn: calc(1turn * var(--minutes) / var(--minutes-in-hour));
}

.clock__hand--second {
  --hand-width: 2px;
  --hand-height: 45%;
  --hand-color: red;

  --seconds-in-minute: 60;
  --turn: calc(1turn * var(--seconds) / var(--seconds-in-minute));
}

.clock__face {
  --face-padding: 10px;

  position: absolute;
  top: calc(var(--face-padding) * -1);
  left: calc(var(--face-padding) * -1);

  width: var(--clock-diameter);
  height: var(--clock-diameter);
  padding: var(--face-padding);
}

.clock__face-stroke {
  --pi: 3.14159;
  --radius: calc(var(--clock-diameter) / 2);
  --mark: 1;
  --gap: calc(calc(var(--pi) * var(--radius) / 6) - var(--mark));

  fill: none;
  stroke: #000000;
  stroke-width: 10px;
  cx: var(--radius);
  cy: var(--radius);
  r: var(--radius);
  stroke-dasharray: var(--mark) var(--gap);
}

.clock-table {
  margin: 50px auto;
}

.clock-table td:nth-child(1) code::before {
  content: "--hours: ";
}

.clock-table td:nth-child(2) code::before {
  content: "--minutes: ";
}

.clock-table td:nth-child(3) code::before {
  content: "--seconds: ";
}

.clock-table td code::after {
  content: ";";
}

.clock-table td:nth-child(3) code::after {
  content: ".";
}

#intro {
  background-image: url("img/man.jpg");
  background-color: #fff;
  text-align: center;
}

#intro h1 {
  font-family: "Didact Gothic", cursive;
  font-size: 70px;
  margin-top: 50px;
  color: #7a2b17;
}

#intro p {
  font-weight: normal;
  font-size: 30px;
}

