.slide h3 {
  font-size: 50px;
}

.centered {
  text-align: center;
}

.no-padding {
  padding: 0;
}

img {
  max-width: 100%;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.image-grid-item {
  position: relative;
  flex-basis: 50%;
}

.image-grid-item-smile {
  position: absolute;
  font-size: 110px;
  left: 130px;
  width: 130px;
  top: 90px;
}

.question h2 {
  font: 700 80px/1 PT Sans Narrow, sans-serif;
  margin-bottom: 200px;
}

.comparing-browser {
  margin-left: 30px;
  margin-bottom: 60px;
}

.comparing-browser img {
  width: 70px;
  margin-left: -10px;
}

.question-text {
  font-size: 40px;
  line-height: 1.5;
}

.comparing-result img {
  max-height: 300px;
}

.num {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #333333;
  width: 55px;
  height: 55px;
  text-align: center;
}

.slide-logo {
  position: relative;
}

.slide-logo::before {
  content: "";
  position: absolute;
  z-index: 10;
  background: url(pictures/logo-black.png) no-repeat 0 0;
  bottom: 15px;
  right: 20px;
  width: 47px;
  height: 59px;
  background-size: cover;
}

.with-code {
  padding-top: 30px;
}

.slide pre code {
  font-size: 22px;
}

.to-be-or-not-to-be {

}

.what-is-a-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 70px auto;
}

.what-is-a-question .variant {
  font-size: 90px;
  border-radius: 50%;
  border: 12px solid rgba(51, 51, 51, 0.77);
  width: 200px;
  text-align: center;
}

.what-is-a-question .emoji {
  font-size: 150px;
}

.slide pre code:not(:only-child).mark {
  background-color: #fafaa2;
}

.no-transition {
  transition: none !important;
}
