---
permalink: /
layout: layouts/page.njk
templateClass: meetups
tags: [nav]
navTitle: Митапы
---

<section class="posts">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
