---
permalink: /organizations/
layout: layouts/page.njk
pageTitle: Площадки
tags: nav
navTitle: Площадки
---

<section class="team">
  {%- for organization in collections.organizations -%}
    <article class="team__item">
      <h1 class="team__title">
        {%- if organization.image -%}
          <a href="{{ organization.url | url }}">
            <img src="{{ organization.image | url }}" alt="{{ organization.data.title }}">
          </a>
        {%- endif -%}
        <a href="{{ organization.url | url }}">{{ organization.data.title }}</a>
      </h1>
    </article>
  {%- endfor -%}
</section>
