---
permalink: /tags/{{ tag }}/
pagination:
  data: collections
  size: 1
  alias: tag
  filter: [all, nav, post, posts]
layout: layouts/archive.njk
renderData:
  title: Поиск по тегу “{{ tag }}”
---

<h1>Поиск по тегу "{{ tag }}"</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Посмотреть <a href="{{ '/tags/' | url }}">все теги</a>.</p>
