---
permalink: /tags/
layout: layouts/archive.njk
---

<h1>Теги</h1>

<section class="tags">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
  {% endfor %}
</section>
