<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="header">
      <a class="header__logo" href="{{ '/' | url }}">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160"><path fill="#0094da" d="M0 0h160v160H0z"/><path fill="#fff" d="M69 46l-41 68h27l41-68H69z"/><path fill="#ffcb4d" d="M130.87 54.09l-2.94-4.8-6.89 5.24 1.17-8.53h-5.71l1.62 9.18-7.24-5.63-2.87 4.91 8.21 3.25-8.22 2.86 2.85 4.91 6.9-5.5-1.06 9.02 5.7-.01-1.62-8.71 7.16 5.48 2.8-4.79-8.78-3.62 8.92-3.26z"/></svg>
      </a>
      <ul class="header__navigation">
        {%- for nav in collections.nav  -%}
        <li class="header__navigation-item{% if nav.url == page.url %} header__navigation-item--active{% endif %}">
          <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </header>

    <main class="main main--{{ templateClass }}">
      {{ content | safe }}
    </main>

    <footer class="footer">
      <p>&copy; 2019 pitercss_meetup</p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
