---
permalink: /{{ role }}/{{ engTitle }}/
layout: layouts/base.njk
templateClass: people
---

<h1 class="title">{{ title }}</h1>

{%- if image -%}
  <img src="{{ image | url }}" alt="{{ post.data.title }}">
{%- endif -%}

{{ content | safe }}


<section class="breadcrumbs">
  <p><a href="{{ '/' | url }}{{ role }}">← Все {% if role != "speakers" %}организаторы {% else %}спикеры{% endif %}</a></p>
</section>
