---
permalink: /{{ role }}/{{ engTitle }}/
layout: layouts/base.njk
templateClass: staff
---

<h1 class="title">{{ title }}</h1>

{%- if image -%}
  <img src="{{ image | url }}" alt="{{ post.data.title }}">
{%- endif -%}

{{ content | safe }}

<section class="breadcrumbs">
  <p>
    <a href="{{ '/' | url }}{{ role }}">
      ← Все
      {%- if role == "speakers" %}
        спикеры
      {% elseif role == "organizers" %}
        организаторы
      {% elseif role == "organizations" %}
        площадки
      {% else %}
        что-то еще
      {% endif %}
    </a>
  </p>
</section>
